.mainBox{
    opacity: 0.95;
    min-height: 300px;
    height: auto !important;
    border-color: black;
    border-width: 5px;
    border-radius: 25px;
    padding-bottom: 15px;
}

.formBlock{
    display: block;
    text-align: center;
}